@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300&display=swap");
/* Extends*/
.imagen, .imagen2, .imagen3, .imagen4 {
  width: "100%";
  height: "100%"; }

.imagen2 {
  border-radius: 50%; }
  .imagen2:hover {
    transform: scale(1.1); }

.imagen3:hover, .imagen4:hover {
  opacity: 0.5; }

.imagen4:hover {
  opacity: 0.5;
  transform: scale(1.1); }

/* Cierra Extends*/
/* Mixins*/
.Agrandar {
  font-size: 2.5rem;
  color: #f10c0c;
  font-family: "Poppins", sans-serif;
  margin-top: 5%; }

 
/* Cierra mixins*/
/* Maps*/
/* Cierra Maps*/
/* General*/
* {
  padding: 0;
  margin: 0; }

body {
  background-image: url(../img/texturamadera.jpg);
  background-attachment: fixed; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5,
p {
  font-family: "Poppins", sans-serif; }

/* Cierra general*/
/* Nav */
nav {
  background-color: #CE1F3B; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 60px; }
    nav ul li a {
      padding: 16px;
      margin: 15px;
      font-size: 1.4em;
      font-family: "Poppins", sans-serif;
      font-weight: 500; }
      nav ul li a:hover {
      color: black}

.dropdown-item{
  width: auto;
  padding: 0;
}

.dropdown-item:hover{
  background-color: #CE1F3B;
  color: black;
}

.dropdown-menu{
  background-color:  #CE1F3B;
}
/* cierra nav*/
/* section*/
section {
  background-color: white; }
  section article p {
    color: black;
    text-align: center;
    font-size: 90%;
    margin-bottom: 10px;
    }

.fondito {
  background-color: #5a2303;
  padding: 30px;
  font-size: 55px;
  color: white;
  font-weight: 500;
  margin-bottom: 10%; }

.grid {
  display: grid;
  grid-template-columns: repeat(3); }

.separar {
  margin-bottom: 10%; }

.caja1 {
  padding-top: 7%;
  font-size: 1.4em;
  margin-bottom: 7%; }

.img-thumbnail:hover {
  transform: scaleX(-1); }

.boton {
  background-color: #CE1F3B;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  border: none;
  letter-spacing: 2px;
  color: white; }

.margi {
  margin-top: 10%; }

/* Cierra section*/
/* Ubicacion*/
.retocar {
  font-size: 1.2em;
  color: black;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  text-align: center;}
.mapa {
  padding-right: 5%;
  padding-left: 5%;
}

/* Cierra Ubicacion*/
/* footer*/
footer h1, footer .h1 {
  color: white;
  width: auto;
  height: auto;
  padding-bottom: 20px; }


footer svg {
  color: white; }

.futer {
  background-color: #333333;
  color: white; 
  font-size: 1.2em;
}


/* Cierra footer*/


.nombre{
  position: absolute;
  bottom: 0;
  right: 1em;
}
.btn{
  background-color: #CE1F3B;
  font-family: "Poppins", sans-serif;
  border: none;
  letter-spacing: 2px;
  color: white;
  padding-left: 50px;
  padding-right: 50px; 
}
.btn:hover{
  background-color: grey;
}

#copyright{
  background-color: #494949;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    padding: 20px 0;
}

.padd{
  padding: 40px;
}

.text1{
  color: grey;
  text-align: center;
  font-size: 90%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.dropdown-item{
  color: white;
}

.py-1{
  padding-top: 0 !important;
}

.padd2{
  padding: 0;
}

.padd3{
  padding-left: 5%;
  padding-right: 5%;
}

.row{
  --bs-gutter-x: 0rem;
}
.color1{
  color: #CE1F3B;
  font-size: 15px;
}
.fontsi{
  font-size: 1.4em;
}

.fontsi2{
  font-size: 1.5em;
  color: white;
  text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.651);
}


.padd4{
  padding-left: 20%;
  padding-right: 20%;
}

.padd5{
  padding-left: 30px;
}
.ContacM{
  margin-bottom: 8px;
}

.futerM{
align-items: center !important;
}

.agrandar2{
  font-size: 2.5rem;
  color: #f10c0c;
  font-family: "Poppins", sans-serif;
  margin-top: 20px; 
margin-bottom: 20px;}

.borde{
  border: none;
}
.surayado
  a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
footer a:hover{
color: #CE1F3B;
}

footer svg:hover{
  color: #CE1F3B;
}

.space{
padding-top: 10px;
}
.fuuter{
  text-align: center;
}


.tu{
  position: relative;
}

.text30 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.vos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
background-color: #ce1f3c85 ;
}

.tu:hover .vos{
  opacity: 1;
}


.carousel-caption{
  color: black;
  bottom: 50%;
  top: 50%;
}

/* Responsive  */
@media (max-width: 420px) {
  .breakpoint  {
  height: 70%;
  }
}

@media (max-width: 760px) {
  .breakpoint  {
    height: auto;
  }
  }

  @media (min-width: 500px) {
    .carousel-caption {
    top: 40%;
    bottom: 30%;
    align-items: center;
    }
  }

  @media (max-width: 600px) {
    .carousel-caption {
    top: 20%;
    bottom: 30%;
    align-items: center;
    }
  }

  @media (max-width: 776px) {
    .carousel-caption {
    top: 20%;
    bottom: 30%;
    align-items: center;
    }
  }


  @media (max-width: 1024px) {
    .breakpoint  {
      height: auto;
    }
    }

    @media (max-width: 344px) {
      .centrate {
      text-align: center !important;
      padding-left: 0;
      padding-right: 0;
      }
    }

    @media (min-width: 344px) {
      .fuuter {
      text-align: start;
      }
    }

    @media (min-width: 992px) {
      .fuuter {
      text-align: center;
      }
    }

    
@media (max-width: 444px) {
  .fontsi2 {
  font-size: 15px;
  }
}

@media (max-width: 500px) {
  .titulo{
  font-size: 1.5em;
}
}
@media (min-width: 500px) {
  .titulo{
  font-size: 3em;
  }
  }
@media (min-width: 1000px) {
  .titulo{
  font-size: 5em;
}
}
/* Termina Responsive */

.titulo{
  color: white;
  text-shadow: 4px 5px rgba(0, 0, 0, 0.651);
}
