/* General*/
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../img/texturamadera.jpg);
    background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
p{
    font-family: $mainFont;
}
/* Cierra general*/
