@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300&display=swap');

//fonts

$mainFont: 'Poppins', sans-serif;
$secondaryFont : 'Roboto', sans-serif;

//sizes
$textSm: 1em;
$textMd: 1.4em;
$textLg: 3.1rem;
$textXl: 4em;
$textTitle: 55px;