/* footer*/
footer{
    h1{
        color: $mainColor;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    svg{
        color: $mainColor;
    }
}

.futer{
    background-color: $footerColor;
    padding: 82px;
    text-align: center;
} 
/* Cierra footer*/