
/* section*/
section{
    background-color: $mainColor;
    article p{
        color: $black;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    }
}

.fondito{
    background-color: $secondaryColor;
    padding: 30px;
    font-size: $textTitle;
    color: $mainColor;
    font-weight: 500;
    margin-bottom: 10%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3);
}

.separar{
    margin-bottom: 10%;
}

.caja1{
    padding-top: 10%;
font-size: $textMd;
margin-bottom: 10%;
}

.img-thumbnail:hover{
    transform: scaleX(-1);
}
.boton{
    background-color: $boton;
    margin-top: 2%;
    font-family: $mainFont;
}

.margi{
    margin-top: 10%;
}
/* Cierra section*/