
/* section*/
section{
    background-color: $mainColor;
    article p{
        color: $black;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    }
}

.fondito{
    background-color: $secondaryColor;
    padding: 30px;
    font-size: $textTitle;
    color: $mainColor;
    font-weight: 500;
    margin-bottom: 10%;
}


.separar{
    margin-bottom: 10%;
}

.caja1{
    padding-top: 10%;
font-size: $textMd;
}

.img-thumbnail:hover{
    transform: scaleX(-1);
}

/* Cierra section*/