//vars
$mainColor: white;
$secondaryColor: rgb(90, 35, 3);
$navColor: rgba(255, 251, 251, 0.685);
$grey: grey;
$red: #f10c0c;
$black: black;
$footerColor: #333333;
$boton: rgba(228, 140, 154, 0.993);

$width:"100%"; 
$height:"100%";